# Handle line endings automatically for files detected as text 
# and leave all files detected as binary untouched.
* text=binary

# Never modify line endings of our bash scripts
*.sh -crlf

#
# The above will handle all files NOT found below
#
# These files are text and should be normalized (Convert crlf => lf)
*.css           binary
*.html          binary
*.java          binary
*.js            binary
*.json          binary
*.properties    binary
*.txt           binary
*.xml           binary
*.ini		binary
*.ans		binary
*.cfg		binary
*.bat		binary


# These files are binary and should be left untouched
# (binary is macro for -text -diff)
*.class         binary
*.jar           binary
*.gif           binary
*.jpg           binary
*.png           binary