;The nickname is required.
nickname = Newbie
realname = 
email = 
other = 

;The Kali Tracker maintains a list of all active servers.  Just type
;kali /a or use the /servers command in kchat to see this list.
tracker = 206.197.190.20

;The following lines are optional.  You must remove the semicolons before
;they will work.  Use a semicolon at the beginning of a line to add your
;own comments.

;These three lines are for registered users only.
;serial =
;key =
;skey = 

;The port option is used to change the local port number.  Usually this
;is only needed for people using SLiRP on a port other than 2213.
;port = 

;The following lines define known servers.  By typing "kali @central" you
;will connect to 204.96.20.10.  By typing "kali /a" you will get a list
;from each server of the players connected.

@central = 204.96.20.10
@world = 206.197.190.20  
@axxis = 205.199.96.2    
@castle = 204.97.214.4
@flex = 193.130.144.1
@nexus = 204.213.70.6
@starlink = 206.26.42.5
