##############################################################################
#
# Instrument configuration file for MSYNTH
#
# Specify library directory:            dir <directory>
#
# - Multiple library directories may be given. The ones given last will be
#   searched first so you can override them in later configuration files.
#   Extra configuration files and MIDI files will also be searched in these
#   directories. (Maximum: 10 directories)
#
# Set tone bank or drum set to modify:  bank <number>
#                                       drumset <number>
#
# Map program number to patch map:      <program number> <patch name>
#
# - If the patch can't be found in the library directories, MSYNTH will
#   search again with ".pat" appended to the name.
#   Programs without a loaded patch will be silent, except that for
#   banks/drumsets >0, the corresponding patch in  bank/drumset 0 will
#   be used (if one exists).
#
# Read another configuration file:      source <file name>
#
# SoundFont extension configuration:
#
# soundfont <filename> [order=<number>]
#    filename is the path of SoundFont file.
#    number is 0(preload) or 1(load after GUS).
#
# font exclude <bank> [<preset> [<keynote>]]
# font order <number> <bank> [<preset> [<keynote>]]
#
#-----------------------------------------------------------------------------
#
# If you have the GUS General MIDI patch set, uncomment the following lines
# and edit the "dir" statement to point to your GUS patch directory.
#
#dir c:\view\patches
#dir e:\patches
#source gravis.cfg
#
#-----------------------------------------------------------------------------
#
# If you have SoundFont file, uncomment next line and specify correct
#  file name.
#
soundfont g:\gm\musthe20.sf2
#
# End of configuration file
##############################################################################
